*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* google fonts */  
}
 
/* <!-- google fonts --> */
@font-face {
    font-family: 'static/Inter-Bold.ttf';
    src: url(../fonts/Inter/static/Inter-Bold.ttf);
}
@font-face {
    font-family: 'Cardo-Bold.ttf';
    src: url(../fonts/Inter/Cardo/Cardo-Bold.ttf);
}
/* header qismi  tugadi */
 
.header{
    max-width: 1235px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    
}
.header_nav{
    display: flex;
    gap: 24px;
    font-size: 30px;
    font-family: 'static/Inter-Bold.ttf';
}
.header_link{
    color: rgba(20, 33, 61, 1);
}
.Home{
    color:  rgba(131, 111, 255, 1);
}
.content{
    background-color: black;
    color: azure;
    padding: 4px 15px;
    border-radius: 5px;
}
.Portfolio{
    margin-right: 20px;
}
 
 .burger{
    display: none;
 }
 .active{
left: 0 !important;
 }
 /* header qismi  tugadi */

 /* home boshlandi */
 .home{
    display: flex;
    max-width: 100%;
    height: 600px;
    background-color: rgba(21, 34, 63, 1);
    border: 2px solid;
    align-items: center;
    justify-content: center;
    gap: 100px;
   padding-bottom: 100px;
 }
 .home_link{
    display: flex;
    gap: 30px;
    font-size: 100px;
    font-family: 'Cardo-Bold.ttf';
    color: rgba(131, 111, 255, 1);
 }
 .Web{
    color: rgb(255, 255, 255);
 }
 /* home boshlandi */